# Konfigurasi Server
PORT=4555
HOST=localhost

# Konfigurasi Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Konfigurasi GenieACS
GENIEACS_URL=http://172.19.6.176:7557
GENIEACS_USERNAME=admin
GENIEACS_PASSWORD=tr069

# Konfigurasi Mikrotik (opsional)
MIKROTIK_HOST=192.168.8.1
MIKROTIK_PORT=8728
MIKROTIK_USER=admin
MIKROTIK_PASSWORD=admin

# Konfigurasi WhatsApp
ADMIN_NUMBER=6281770990009
TECHNICIAN_NUMBERS=6281770990009
WHATSAPP_SESSION_PATH=./whatsapp-session
WHATSAPP_KEEP_ALIVE=true
WHATSAPP_RESTART_ON_ERROR=true

# Monitoring
PPPOE_MONITOR_INTERVAL=60000
RX_POWER_WARNING=-27
RX_POWER_CRITICAL=-30

# Company Info
COMPANY_HEADER=G-Net
FOOTER_INFO=Wifi Hotspot
