<!-- Admin Sidebar -->
<li class="nav-item">
    <a class="nav-link" href="/admin/dashboard" id="nav-dashboard">
        <i class="bi bi-speedometer2"></i> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/devices" id="nav-devices">
        <i class="bi bi-router"></i> Devices
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/network" id="nav-network">
        <i class="bi bi-diagram-3"></i> Network
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/pppoe" id="nav-pppoe">
        <i class="bi bi-globe"></i> PPPoE Management
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/hotspot" id="nav-hotspot">
        <i class="bi bi-wifi"></i> Hotspot Management
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/settings" id="nav-settings">
        <i class="bi bi-gear"></i> Pengaturan Sistem
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#" onclick="showSystemInfo()">
        <i class="bi bi-info-circle"></i> System Info
    </a>
</li> 